/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-arrow-left {
  background-image: url(../sprites/spritesheet.png);
  background-position: -1907px -281px;
  width: 12px;
  height: 20px;
}
.icon-arrow-right {
  background-image: url(../sprites/spritesheet.png);
  background-position: -1895px -281px;
  width: 12px;
  height: 20px;
}
.icon-cancel-hover {
  background-image: url(../sprites/spritesheet.png);
  background-position: -1760px -265px;
  width: 135px;
  height: 60px;
}
.icon-cancel {
  background-image: url(../sprites/spritesheet.png);
  background-position: -1490px -265px;
  width: 135px;
  height: 60px;
}
.icon-close {
  background-image: url(../sprites/spritesheet.png);
  background-position: -1895px -265px;
  width: 16px;
  height: 16px;
}
.icon-search-hover {
  background-image: url(../sprites/spritesheet.png);
  background-position: -1188px -265px;
  width: 167px;
  height: 60px;
}
.icon-search {
  background-image: url(../sprites/spritesheet.png);
  background-position: -1021px -265px;
  width: 167px;
  height: 60px;
}
.icon-submit-hover {
  background-image: url(../sprites/spritesheet.png);
  background-position: -1355px -265px;
  width: 135px;
  height: 60px;
}
.icon-submit-new-question-hover {
  background-image: url(../sprites/spritesheet.png);
  background-position: -731px -265px;
  width: 290px;
  height: 60px;
}
.icon-submit-new-question {
  background-image: url(../sprites/spritesheet.png);
  background-position: -441px -265px;
  width: 290px;
  height: 60px;
}
.icon-submit {
  background-image: url(../sprites/spritesheet.png);
  background-position: -1625px -265px;
  width: 135px;
  height: 60px;
}
.icon-symbol-sprite {
  background-image: url(../sprites/spritesheet.png);
  background-position: 0px 0px;
  width: 2670px;
  height: 265px;
}
.icon-turn-to-sprite {
  background-image: url(../sprites/spritesheet.png);
  background-position: 0px -265px;
  width: 441px;
  height: 1043px;
}
